.navbar .navbar-brand {
		font-family: "Oswald";
        font-size: 2.2em;
        color: #0AC4B7;

}
.container {
width:940px;
}

img{
float: left;
}

.jumbotron .jimg {
float:left;

}
.jumbotron h1 {
font-size: 40px;
font-family: 'Playfair Display', serif;
}


a{
color:#0AC4B7;
}

.list-group {
max-height: 290 px;

}

.hr {
	width: 940px;
	
}
