[class*="span"] {
	background: #eee;
	margin-bottom: 10px;
}

/* Max-width 480px */
@media (max-width: 480px) {
	.container {
	background-color: aqua;
	}
	
	.container:after {
		content: "Max-width 480px landscape phone and down";
	}
}

/* Min-width 481px and max-width 767px */
@media (min-width: 481px) and (max-width: 767px) {
	.container {
	background-color: fuchsia;
	}
	
	.container:after {
		content: "Min-width 481px and max-width 767px landscape phone to portrait tablet";
	}
}

/* Min-width 768px and max-width 979px  */
@media (min-width: 768px) and (max-width: 979px) {
	.container {
	background-color: lime;
	}
	
	.container:after {
		content: "Min-width 768px and max-width 979px, portrait tablet to landscape";
	}
}

/* Min-width 980px  */
@media (min-width: 980px) and (max-width: 1199px) {
  .container {
  background-color: green;
	}
	
	.container:after {
		content: "Min-width 980px, max-width 1199px, desktop format";
	}
}

/* Min-width 1200px */
@media (min-width: 1200px) {
  .container {
  background-color: blue;
	}
	
	.container:after {
		content: "Min-width 1200px, widescreen format";
	}
}

/* Nav background color */
header [class*="span"],
nav [class*="span"] {
	background: #fff;
}

/* Search box */
header input {
	margin-top: 20px;
	width: 70%;
	float: left;
}

/* Login button */
header a {
	float: right;
	margin: 20px 0 0 20px;
}